/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------- */

body {
    background-color: #6996a7;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 18px;
}

#container {
    width: 1000px;
    min-width: 1000px;
    margin: 10px auto 0;
    background-color: white;
}

/* Title */

header {
    padding: 20px;
}

#title-img {
    float: left;
    margin-right: 15px;
}

h1 {
    font-weight: bold;
    font-size: 36pt;
    line-height: 38pt;
    color: #00008e;
}

h2 {
    font-weight: bold;
    font-size: 18pt;
    line-height: 25pt;
    color: #000071;
}

h3 {
    font-weight: bold;
    font-size: 16pt;
    line-height: 18pt;
}

/* Navigation */

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    background-color: #325884;
}

nav a {
    display: block;
    width: 200px;
    padding: 3px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Main */

main {
    clear: left;
    padding: 20px;
}

p {
    margin-bottom: 10px;
}

main a {
    color: #000071;
    font-weight: bold;
}

.tel {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

#home-slideshow {
    float: right;
    margin-left: 15px;
}

#logos {
    clear: both;
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

#map {
    float: right;
    margin-left: 15px;
}

#safety {
    float: right;
    width: 275px;
    margin-left: 20px;
    padding: 10px;
    background-color: #ebd975;
    outline: 1px dashed gray;
}

#safety h3 {
    text-align: center;
}

#safety p {
    margin-top: 10px;
}

#cleaning-slideshow {
    width: 640px;
    height: 480px;
    margin: 20px auto;
}

small {
    font-size: 12pt;
}

#contact-content {
    min-height: 375px;
}

.testimony-title {
    margin-top: 20px;
}

#environment {
    float: left;
    margin-right: 15px;
}

#refurbishment-slideshow {
    width: 640px;
    height: 480px;
    margin: 20px auto;
}

/* Footer */

footer {
    padding: 5px 0;
    font-size: small;
    text-align: center;
}

/* --------------------------------------------
   Nicely styled blockquotes from StackOverflow
   http://stackoverflow.com/a/16326442
   -------------------------------------------- */

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 880px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}
blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
blockquote cite:before {
    content: "\2014 \2009";
}

/* -------------------------------------------- */
